@import '../../index.css';


ul {
  padding: 16rem;
  padding-block-start: 6rem;
  padding-block-end: 0;
  background-color: var(--Light-Grayish-Cyan-Background);
}

li {
  background-color: var(--white) ;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.5);
  block-size: 15rem;
  list-style: none;
  margin-bottom: 2rem;
  padding: 2rem;
  padding-inline-start: 1.2rem;
  padding-inline-end: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li.featured {
  border-left: var(--Desaturated-Dark-Cyan) 3px solid;
}

li picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-inline-end: 0.4rem;

}

li picture img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

span {
  margin: 2px;
  font-size: 12px;
}

li div.jobInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

li div.jobInfo h1 {
  margin-block-start: 1.5rem;
  margin-block-end: .5rem;
}

li div.jobInfo span { 
  margin-inline-end: 0.8rem ;
}

li div.jobInfo span.companyName { 
  color: var(--Desaturated-Dark-Cyan);
  font-size: 1.5rem;
  font-weight: 700;
}

span.new {
  padding: 0.8rem;
  padding-block-end: 0.4rem;
  background-color: var(--Desaturated-Dark-Cyan);
  color: var(--white);
  border-radius: 15px;
  text-transform: uppercase;
  
}

span.featured {
  padding: 0.8rem;
  padding-block-end: 0.4rem;
  background-color: var(--Very-Dark-Grayish-Cyan);
  color: var(--white);
  border-radius: 15px;
  text-transform: uppercase;
}

hr { 
  display: none;
}

li div.jobInfo div.dates { 
  color: var(--Dark-Grayish-Cyan);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

li div.jobInfo div.dates span::after { 
  content: ".";
  font-size: 2rem;
  margin-left: 1rem;
}

li div.jobInfo div.dates span:last-child::after { 
  content: "";
}



li div.tags {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}



li div.tags span {
  padding: 0.8rem;
  margin-left: 1rem;
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  color: var(--Desaturated-Dark-Cyan);
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  li { 
    flex-direction: column;
    position: relative;
    margin-block-start: 5rem;
  }

  
li picture {
  flex: 1;
  margin-block-end: 1rem;
  position: absolute;
  top: -40px;
  left: 20px;
}

li picture img {
  display: block;
  max-inline-size: 85%;
}

li div.jobInfo {
  align-items: center;
}

li div.tags { 
  justify-content: center;
  align-items: center;
  margin-block-start: 0.9rem;
}

}



@media screen and (max-width: 750px) {
  ul {
    padding-inline-start: 0rem;
    padding-inline-end: 0rem;
  }

  li {
    inline-size: 40rem;
    block-size: 30rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  li picture { 
    top: -30px;
    left: 2px;
  }
    
  li picture img {
    display: block;
    max-inline-size: 70%;
  }

  
li div.jobInfo {
  flex: 3;
  align-items: flex-start;
  justify-content: flex-start;
  margin-block-start: 2.8rem;
  margin-inline-end: 11rem;
}

li div.jobInfo > * { 
  margin-block-end: 0.99rem;
} 


li div.jobInfo h1 {
  margin-block-end: 0.99rem;
}

li div.jobInfo span { 
  margin-inline-end: 1.rem ;
}

li div.jobInfo span.companyName { 
  font-size: 1.8rem;
}

span.new, span.featured {
  padding: 0.9rem;
  padding-block-end: 0.7rem;
  font-size: 1.5rem;  
}

li div.jobInfo div.dates { 
  inline-size: 110%;
  flex-wrap: wrap ;
  align-items: flex-start;
  justify-content: flex-start;
}


li div.jobInfo div.dates span { 
  font-size: 1.6rem;
}


li div.jobInfo div.dates span::after { 
  content: ".";
  font-size: 3rem;
  margin-left: 1rem;
}

hr { 
  display: block;
  inline-size: 95%;
  background-color: var( --Dark-Grayish-Cyan);
  margin-block-end: 1rem;
}

li div.tags {
  
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}


li div.tags span {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

}

@media screen and (max-width: 415px) {

  li {
    inline-size: 32rem;
    block-size: 30rem;
    margin-inline-start: auto;
    margin-inline-end: auto;

  }

    
li div.jobInfo {
  margin-block-start: 2.8rem;
  margin-inline-end: 3rem;
}

li div.tags {
  width: 106%;
 }




}