ul {
  padding: 16rem;
  padding-block-start: 6rem;
  padding-block-end: 0;
}

li {
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.5);
  block-size: 15rem;
  list-style: none;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li.featured {
  border-left: blue 1px solid;
}
li picture {
  display: block;
  flex: 1;
}

li picture img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top right;
}

span {
  margin: 2px;
  font-size: 12px;
}

li div.jobInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

li div.jobInfo h1 {
  margin-block-start: 10px;
  margin-block-end: 10px;
}
li div.tags {
  flex: 2;
}

span.new {
  padding: 2px;
  background-color: blue;
}

span.featured {
  padding: 2px;
  background-color: red;
}
