@import '../../index.css';


ul {
  padding: 16rem;
  padding-block-start: 6rem;
  padding-block-end: 0;
  background-color: var(--Light-Grayish-Cyan-Background);
}

li {
  background-color: var(--white) ;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.5);
  block-size: 15rem;
  list-style: none;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li.featured {
  border-left: var(--Desaturated-Dark-Cyan) 3px solid;
}

li picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

}

li picture img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top right;
}

span {
  margin: 2px;
  font-size: 12px;
}

li div.jobInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

li div.jobInfo h1 {
  margin-block-start: 1.5rem;
  margin-block-end: .5rem;
}

li div.jobInfo span { 
  margin-inline-end: 0.8rem ;
}

li div.jobInfo span.companyName { 
  color: var(--Desaturated-Dark-Cyan);
  font-size: 1.5rem;
}

span.new {
  padding: 0.8rem;
  padding-block-end: 0.4rem;
  background-color: var(--Desaturated-Dark-Cyan);
  color: var(--white);
  border-radius: 15px;
  text-transform: uppercase;
  
}

span.featured {
  padding: 0.8rem;
  padding-block-end: 0.4rem;
  background-color: var(--Very-Dark-Grayish-Cyan);
  color: var(--white);
  border-radius: 15px;
  text-transform: uppercase;
}

li div.jobInfo div.dates { 
  color: var(--Dark-Grayish-Cyan);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

li div.jobInfo div.dates span::after { 
  content: ".";
  font-size: 2rem;
  margin-left: 1rem;
}

li div.jobInfo div.dates span:last-child::after { 
  content: "";
}



li div.tags {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}



li div.tags span {
  padding: 0.8rem;
  margin-left: 1rem;
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  color: var(--Desaturated-Dark-Cyan);
  border-radius: 5px;
}

