span.tag {
  background-color: var(--Light-Grayish-Cyan-Background-);
  color: var(--Desaturated-Dark-Cyan);
  padding: 0.8rem;
  padding-top: 0.5rem;
  padding-right: 0.1rem;
  font-size: 1.3rem;
  border-radius: 5px;
}



div.filterTags {
  position: absolute;
  left: 11%;
  top: 13rem;

  inline-size: 78%;
  block-size: 7rem;

  -webkit-box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 7px 20px -12px rgba(0, 0, 0, 0.6);

  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--white);

  padding: 2rem;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.remove {
  background-color: var(--Dark-Grayish-Cyan);
  border: none;
  padding: 0.7rem;
  margin-left: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  border-radius: 5px;
}

button.remove:hover { 
  background-color: var(--Very-Dark-Grayish-Cyan);
  cursor: pointer;
}

button.clear {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--Desaturated-Dark-Cyan);
}

button.clear:hover { 
  cursor: pointer;
  border-bottom: 1px var(--Desaturated-Dark-Cyan) solid ;
}