header { 
    background-color: hsl(179, 29%, 51%);
    inline-size: 100%;
    block-size: 15.5rem;
}

img { 
    display: block;
    max-inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: top left;
}


 /*  */
